/* css for body */

body{
    padding: 0;
    margin: 0;
}

/* Variables for color selection */

:root {
    --steel-blue-heading: #13044f;
    --blue-voilet-bg: #abb8c3;
}

/* css for header section  */

/* style structor and apply background { radial-gradient }  */

header{
    width: 100%;
    height: 60vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,156,156,1) 0%, rgba(179,201,241,1) 90% );
}

/* style navbar */


/* nav links */

.center-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

.navbar li{
    margin: 22px 6px;
}

ul li{
    list-style: none;
}

ul a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/* bottom border effect for navbar */

ul li:after {
	content: '';
	display: block;
	margin: auto;
	height: 1.5px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

ul li:hover:after {
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

/* user name templte { center } */

.user-name h1{
    font-size: 3rem;
    margin: 72px 0px 18px 0px;
    text-align: center;
}

.social-media li{
    margin: 0px 12px;
}

/* End of Phase one css  */

/* user detail section include user image and about description  */

.user-details{
    width: 100%;
    height: 40vh;
}

.user-image{
    margin: auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 5px #fff;
    position: relative;
    top: -100px;
    background-image: url(img/user-image.jpg);
    background-size: contain;
}

.about-user{
    width: 70vw;
    margin: auto;
    position: relative;
    top: -50px;
}

.about-user p{
    font-size: larger;
    line-height: 7mm;
    text-align: center;
}

/* @media screen and (max-width: 600px) {
    .about-user{
        padding: 0;
        overflow: scroll;
    }
} */

/* End of phase two css */

/* Skills section */

.skills{
    background-color: #d5d0d0;
    height: 60vh;
}

.section-heading h1{
    text-align: center;
    font-size: 2rem;
    color: var(--steel-blue-heading);
    padding: 32px 0px;
}

.skills-container{
    width: 70vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skillsbox{
    width: 180px;
    height: 40px;
    border-radius: 30px;
    margin: 26px 32px;
    overflow: hidden;
    background-color: rgb(241, 236, 236);
    box-shadow: 2px 0px 9px 0px rgb(199, 198, 198);
}

.skills-label{
    margin: 0;
    height: 100%;
    transition: all 0.5s;
}

.skills-label p{
    margin: 0px 0px 0px 18px ;
    text-align: left;
    position: relative;
    top: 12px;
    font-weight: bold;
}

/* skills level bar */

#skills-label-a{
    width: 0%;
    background-color: rgb(3, 252, 231);
}
#skills-label-b{
    background-color: yellow;
}
#skills-label-c{
    background-color: yellow;
}
#skills-label-d{
    background-color: yellow;
}
#skills-label-e{
    background-color: rgb(3, 252, 231);
}
#skills-label-f{
    background-color: red;
}

@media screen and (max-width: 800px) {
    .skills{
        height: auto;
    }
}

/* End of Phase 3 */

.edu-section{
    /* temp  */
    padding-bottom: 50px;
    height: auto;
}

.path-plane{
    width: 0px;
    border: 2px dotted;
    height: 434px;
    position: absolute;
    left: 50%;
    z-index: -3;
    margin-top: 10%;
}
.path-plane i{
    display: block;
    position: sticky;
    top: 40%;
    z-index: 10;
}

.edu-container{
    width: 350px;
    height: 230px;
    box-sizing: border-box;
    padding: 8px 14px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}

.edu-container-heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.edu-logo{
    position: relative;
    top: 18px;
    left: 8px;
}

.edu-container-heading h4{
    margin: 6px;
    text-align: right;
}

.edu-container-info p{
    text-align: center;
}

/* css to left right align container */
.edu-container:nth-child(2n){
    display: block;
    position: relative;
    left: 60%;
}

.edu-container:nth-child(2n+1){
    display: block;
    position: relative;
    left: 10%;
}

/* path stop mark */
/* .edu-container:nth-child(2n)::after{
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: #94999d;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -40%;
    z-index: -1;
}

.edu-container:nth-child(2n+1)::after{
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: #94999d;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -56.5%;
    z-index: -1;
}  */

/* end of education section */

/* Project section */

.project-section{
    width: 100%;
    height: 80vh;
    background-color: #d5d0d0;
}

.projects-container{
    width: 80%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.project{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px 6px #b4b8bb;
}

.Spotify-clone{
    background-image: url(img/project-1.png);
    background-size: cover;
}

.Spotify-clone:hover{
    opacity: 0.4;
    cursor: pointer;
}

.Spotify-clone::after{
    content: "Spotify clone";
    position: relative;
    bottom:  -110%;
    left: 28%;
    color: black;
    text-decoration: solid;
    font-size: larger;
}

.ping-pong-game{
    background-image: url(img/project-2.jpg);
    background-size: cover;
}

.ping-pong-game:hover{
    opacity: 0.4;
    cursor: pointer;
}

.ping-pong-game::after{
    content: "Ping-pong game";
    position: relative;
    bottom:  -110%;
    left: 28%;
    color: black;
    text-decoration: solid;
    font-size: larger;
}

.Project-collaboration-platform{
    background-image: url(img/project-3.jpg);
    background-size: cover;
}

.Project-collaboration-platform:hover{
    opacity: 0.4;
    cursor: pointer;
}

.Project-collaboration-platform::after{
    content: "Project collaboration platform";
    position: relative;
    bottom:  -110%;
    color: black;
    text-decoration: solid;
    font-size: larger;
}

/* End of project section */

footer{
    margin: 0;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(161, 147, 147) 0%, rgba(179,201,241,1) 90% );
}

.get-in-touch{
    width: 80%;
    margin: auto;
    display: flex;
}

.send-msg{
    width: 50%;
}

.send-msg input{
    display: block;
    width: 80%;
    border: none;
    border-bottom: 1px solid black;
    margin: 22px 0px;
    box-sizing: border-box;
    padding: 6px;
    background-color: transparent;
}

.send-msg-button{
    display: block;
    width: 80px;
    height: 30px;
    margin: auto;
    background-color: transparent;
}

.contact-details p{
    margin: 4px;
}

.for-footer{
    padding: 62px 0px 24px 0px;
}

.margin-zero h1{
    margin: 0;
}
